<h2> Employee List</h2>
<table class = "table table-striped">
    <thead>
        <tr>
            <th> Emp ID</th>
            <th> Emp Name </th>
            <th> Emp Designation</th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let employee of employees" >
            <td> {{ employee.id }} </td> <!--string interpolation-->
            <td> {{ employee.empName }} </td>
            <td> {{ employee.empDesignation}} </td>
            <td>
                <button (click) = "updateEmployee(employee.id)" class = "btn btn-info"> Update</button>
                <button (click) = "deleteEmployee(employee.id)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
                <button (click) = "employeeDetails(employee.id)" class = "btn btn-info" style="margin-left: 10px"> View</button>
            </td>
        </tr>
    </tbody>
</table>
