<div class="col-md-6 offset-md-3">
    <h3> Update Employee </h3>
    <form (ngSubmit) = "onSubmit()">
    
        <div class="form-group">
            
            <label> Emp ID</label>
             
        
         
            <input type="text" class ="form-control" id = "id" disabled
                [(ngModel)] = "employee.id" name = "id" >
             
        </div>
    
        <div class="form-group">
            <label> Emp Name</label>
            <input type="text" class ="form-control" id = "empName"
                [(ngModel)] = "employee.empName" name = "empName">
        </div>
    
        <div class="form-group">
            <label> Emp Designation</label>
            <input type="text" class ="form-control" id = "empDesignation"
                [(ngModel)] = "employee.empDesignation" name = "empDesignation">
        </div>
    
        <button class = "btn btn-success" type ="submit">Submit</button>
    
    </form>
    </div> 